.elder-scrolls-card {
  width: 330px;
  height: 800px;
  text-align: left;
  margin-bottom: 25px;  

  @media screen and (min-width: 375px) {
    width: 280px;
    height: 650px;
  }
  
  @media screen and (min-width: 768px) {
    width: 330px;
    height: 800px;
  }

  .card--text {
    margin-top: 10px;
    display: block;
  }

  .card--set-name {
    margin-top: 10px;
    display: block;
  }

  .card--type {
    margin-top: 10px;
    display: block;
  }
}