.elder-scrolls-card {
  width: 330px;
  height: 720px;
  text-align: left;
  margin-bottom: 25px;  
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 375px) {
    width: 240px;
    height: 575px;
  }
  
  @media screen and (min-width: 768px) {
    width: 330px;
    height: 720px;
  }

  .card--set-name {    
    display: block;
  }

  .card--type {
    margin-top: 5px;
    display: block;
  }

  .card--text {
    margin-top: 5px;
    font-size: 12px;
    display: block;
  }    
}