.elder-scrolls-card {
  width: 200px;
  text-align: left;
  margin-bottom: 25px;

  .card--text {
    margin-top: 10px;
  }

  .card--set-name {
    margin-top: 10px;
  }

  .card--type {
    margin-top: 10px;
  }
}